<h1>{{name}}</h1>

<dl>
  <td class="">Name:</td>
  <dd>{{name}}</dd>

  <td>Age:</td>
  <dd>{{age}}</dd>

  <td>Method:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalized:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
*ngIf="name !== 'Wolverine'"
class="btn btn-primary mx-2" (click)="changeHero()">
  Change name
</button>

<button
*ngIf="age === 25"
class="btn btn-primary"
(click)="changeAge()">
  Change age
</button>

<button
*ngIf="age !== 25 || name === 'Wolverine'"
class="btn btn-success mx-2"
(click)="resetForm()">
  Reset
</button>

